.signin-box {
  margin-bottom: 100px;
  display: flex;
}

.image-box {
  margin-right: 30px;
}

.image-box__image {
  max-width: 450px;
  min-height: 500px;
  max-height: 500px;
}

.signin-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: white;
  border: #e0e0e0 solid 1px;
}

/* .signin__title {
  font-size: 2rem;
  font-weight: 700;
} */

.signin__logo {
  width: 12em;
}

.signin__faied-alert {
  margin-top: 10px;
  color: red;
  display: none;
}

.signin__faied-alert.active {
  display: inline-block;
}

.signin__input {
  width: 280px;
  border: 0;
  background: var(--input-background-color);
  display: block;
  text-align: center;
  padding: 14px 10px;
  outline: none;
  color: black;
  border-radius: 5px;
  transition: 0.25s;
  font-size: 1.3rem;
  font-weight: 500;
}

.signin__input:focus {
  width: 300px;
}

.sign__input--email {
  margin-top: 30px;
}

.sign__input--password {
  margin-top: 20px;
}

.signin__submit {
  margin-top: 30px;
  border: 0;
  background-color: var(--main-btn-color);
  text-align: center;
  padding: 14px 60px;
  outline: none;
  color: white;
  border-radius: 5px;
  transition: 0.25s;
  cursor: pointer;
  font-size: large;
  font-weight: 700;
}

.signin__submit:hover {
  transform: translateY(5px);
}